@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ul::marker,
  ol::marker {
    color: white;
  }

 
:root  {
  --background: 41 19% 95%;
  --foreground: 41 5% 10%;
  --card: 41 19% 90%;
  --card-foreground: 41 5% 15%;
  --popover: 41 19% 95%;
  --popover-foreground: 41 95% 10%;
  --primary: 41 100% 23%;
  --primary-foreground: 0 0% 100%;
  --secondary: 41 19% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 3 19% 85%;
  --muted-foreground: 41 5% 35%;
  --accent: 3 19% 80%;
  --accent-foreground: 41 5% 15%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 41 5% 90%;
  --border: 41 20% 50%;
  --input: 41 20% 23%;
  --ring: 41 100% 23%;
  --radius: 0.5rem;
  --sidebar-background: 0 0% 98%;
  --sidebar-foreground: 240 5.3% 26.1%;
  --sidebar-primary: 240 5.9% 10%;
  --sidebar-primary-foreground: 0 0% 98%;
  --sidebar-accent: 240 4.8% 95.9%;
  --sidebar-accent-foreground: 240 5.9% 10%;
  --sidebar-border: 220 13% 91%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}
.dark  {
  --background: 41 19% 10%;
  --foreground: 41 5% 90%;
  --card: 41 19% 10%;
  --card-foreground: 41 5% 90%;
  --popover: 41 19% 5%;
  --popover-foreground: 41 5% 90%;
  --primary: 41 100% 23%;
  --primary-foreground: 0 0% 100%;
  --secondary: 41 19% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 3 19% 23%;
  --muted-foreground: 41 5% 60%;
  --accent: 3 19% 23%;
  --accent-foreground: 41 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 41 5% 90%;
  --border: 41 20% 23%;
  --input: 41 20% 23%;
  --ring: 41 100% 23%;
  --radius: 0.5rem;
  --sidebar-background: 240 5.9% 10%;
  --sidebar-foreground: 240 4.8% 95.9%;
  --sidebar-primary: 224.3 76.3% 48%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 3.7% 15.9%;
  --sidebar-accent-foreground: 240 4.8% 95.9%;
  --sidebar-border: 240 3.7% 15.9%;
  --sidebar-ring: 217.2 91.2% 59.8%;
}
 
}